node_modules/
.env
backend/venv/
birdnet-env/
.history/
.DS_Store
*.pyd
*.dll
backend/secrets/
.expo/devices.json
.expo/settings.json
.expo/packager-info.json
.expo/settings.json
google-services/
flask_session/