# Python virtual environment
birdnet-env/
venv/
.env

# Editor history and system files
.history/
.DS_Store

# Node.js dependencies
node_modules/

# Exclude specific backend files
backend/src/server.py

# Large binary files
*.pyd
*.dll
